.movies-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .movies-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
