#root {
  max-width: 1016px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 1031px) {
  #root {
    padding: 34px 27px;
    margin: 0 auto;
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.error-message {
  text-align: center;
  padding: 50px 0;
  color: #ff4d4f;
}
